# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Environments / secrets
.env
.venv/
venv/
env/
.conda/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
.vscode/

# Project outputs
output/
runs/
*.log
